<div class="container">
  <div class="login-container">
    <h2>LOGIN</h2>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

      <mat-form-field appearance="outline">
        <mat-label for="username">usuario</mat-label>
        <input matInput id="username" type="text" formControlName="username">
      </mat-form-field>

      <div *ngIf="registerForm.controls.username.invalid
      && (registerForm.controls.username.dirty || registerForm.controls.username.touched)">
        <mat-error *ngIf="registerForm.controls.username.errors?.['required']">
          El usuario es requerido
        </mat-error>
        <mat-error *ngIf="registerForm.controls.username.errors?.['minlength']">
          El usuario debe tener al menos 4 caracteres
        </mat-error>
      </div>

      <mat-form-field appearance="outline">
        <mat-label for="email">email</mat-label>
        <input matInput id="email" type="email" formControlName="email">
      </mat-form-field>

      <div *ngIf="registerForm.controls.email.invalid
      && (registerForm.controls.email.dirty || registerForm.controls.email.touched)">
        <mat-error *ngIf="registerForm.controls.email.errors?.['required']">
          El email es requerido
        </mat-error>
        <mat-error *ngIf="registerForm.controls.email.errors?.['email']">
          El email debe ser válido
        </mat-error>
      </div>


      <mat-form-field appearance="outline">
        <mat-label for="password">contraseña</mat-label>
        <input matInput id="password" type="password" formControlName="password">
      </mat-form-field>

      <div *ngIf="registerForm.controls.password.invalid
      && (registerForm.controls.password.dirty || registerForm.controls.password.touched)">
        <mat-error *ngIf="registerForm.controls.password.errors?.['required']">
          La contraseña es requerida
        </mat-error>
        <mat-error *ngIf="registerForm.controls.password.errors?.['minlength']">
          La contraseña debe tener al menos 6 caracteres
        </mat-error>
      </div>

      <button mat-raised-button color="primary" type="submit" [disabled]="!registerForm.valid">
        Registrarse
      </button>
    </form>

    <hr>

    <button mat-raised-button color="primary" (click)="login()">
      Iniciar sesión
    </button>
  </div>
</div>
