<mat-card>
  <mat-card-header>
    <mat-card-title>{{ account.name }} - {{ account.typeAccount }}</mat-card-title>
    <mat-card-subtitle>{{ account.amount | currency:account.currency:'symbol':'1.0-2' }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <button mat-flat-button color="primary" (click)="onUpdateAccount()">
      <mat-icon>edit</mat-icon>
      Actualizar
    </button>
    <button mat-flat-button color="warn" (click)="onDeleteAccount()">
      <mat-icon>delete</mat-icon>
      Eliminar
    </button>
  </mat-card-actions>
</mat-card>
