<div class="container">
  <div class="login-container">
    <h2>LOGIN</h2>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <mat-form-field appearance="outline">
        <mat-label for="username">usuario</mat-label>
        <input matInput id="username" type="text" formControlName="username">
      </mat-form-field>

      <div *ngIf="loginForm.controls.username.invalid
      && (loginForm.controls.username.dirty || loginForm.controls.username.touched)">
        <mat-error *ngIf="loginForm.controls.username.errors?.['required']">
          El usuario es requerido
        </mat-error>
        <mat-error *ngIf="loginForm.controls.username.errors?.['minlength']">
          El usuario debe tener al menos 4 caracteres
        </mat-error>
      </div>


      <mat-form-field appearance="outline">
        <mat-label for="password">contraseña</mat-label>
        <input matInput id="password" type="password" formControlName="password">
      </mat-form-field>

      <div *ngIf="loginForm.controls.password.invalid
      && (loginForm.controls.password.dirty || loginForm.controls.password.touched)">
        <mat-error *ngIf="loginForm.controls.password.errors?.['required']">
          La contraseña es requerida
        </mat-error>
        <mat-error *ngIf="loginForm.controls.password.errors?.['minlength']">
          La contraseña debe tener al menos 6 caracteres
        </mat-error>
      </div>

      <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">
        Ingresar
      </button>

    </form>

    <hr>

    <button mat-raised-button color="primary" (click)="onRegister()">
      Registrarse
    </button>
  </div>
</div>
